body {
  font-family: "Dosis", sans-serif;
  font-size: 10rem;
}

.title {
  padding: 1rem;
  background-color: rgb(250, 237, 220);
  color: rgb(54, 54, 54);
  font-family: "Dosis", sans-serif;
  font-size: 5rem;
  text-align: center;
}

.optionsButton {
  border-radius: 10px;
  font-family: "Dosis", sans-serif;
  font-size: 3rem;
  margin: 1rem;
  padding: 1rem;
  border-style: none;
  width: 100%;
  align-self: center;
  background-color: rgba(81, 148, 250, 0.26);
  color: rgb(255, 255, 255);
}
.containerOptions {
  margin-top: 5rem;
}
.codeDisplay {
  float: right;
  width: 75%;
  color: black;
}
.codeEntry {
  float: right;
  width: 75%;
}

/********** LOBBY *************/
/* styling for lobby items */
.lobbyDiv {
  border-radius: 10px;
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  border-style: none;
  width: 100%;
  align-self: center;
  background-color: rgba(81, 148, 250, 0.26);
  color: rgb(255, 255, 255);
  text-align: center;
}
/* control margins for lobby items */
.lobbyContainer {
  margin-top: 1rem;
}
/*color of the display for code in lobby*/
#codeDisplayButton {
  background-color: rgba(1, 16, 38, 0.26);
}
#startButton {
  background-color: darkslategrey;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* start button and player count at right bottom corner*/
#rightCorner {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 2%;
}
.lobbyContainer {
  margin-top: 1rem;
}

/* game table */

.gameContainer {
  margin-top: 4rem;
}
/*div for table*/
.gameStyles {
  font-family: "Dosis", sans-serif;
  display: flex;
  font-size: 3rem;
  text-align: center;
  justify-content: center;
}
/*div itself */
.gameTable {
  background-color: seagreen;
  width: 100%;
  height: 55vh;
  border-radius: 10px;
}
/*styling buttons*/
.buttonStyles {
  border-radius: 10px;
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
  border-style: none;
  width: 100%;
  align-self: center;
  background-color: darkslategrey;
  color: rgb(255, 255, 255);
  padding: 1rem;
}
/* logo position/size */
.logo {
  width: 4vw;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}
